
   <%# <%= link_to "投稿", "pages_home_path", class: "btn btn-primary" %>
   <%# <div> %>
   <%# <button type="button" class="btn btn-info", class="btn btn-primary btn-lg" >新規投稿</button> %>
  <%# </div> %>